---
import { parallel } from "../common/utils";
import { Decrypt } from "../components/atom/Decrypt";
import { CorrespondenceCodeGenerator } from "../components/molecules/CorrespondenceCodeGenerator";
import { CorrespondenceCodeInput } from "../components/molecules/CorrespondenceCodeInput";
import { PendingFilledCorrespondenceRequests } from "../components/molecules/PendingFilledCorrespondenceRequests";
import { PendingFullyFilledCorrespondenceRequests } from "../components/molecules/PendingFullyFilledCorrespondenceRequests";
import Layout from "../Layout.astro";
import { serverApp } from "../server";

const app = await serverApp(Astro);
const viewer = await app.server.viewer();

if (!viewer) {
  return Astro.redirect("/login");
}

const data = await parallel({
  correspondents: app.correspondents.list(),
  pendingFilledCorrespondenceRequests:
    app.correspondenceRequest.individuals.pendingFilledRequests(),
  pendingFullyFilledCorrespondenceRequests:
    app.correspondenceRequest.individuals.pendingFullyFilledRequests(),
});
---

<Layout title="Home">
  <main>
    <h2>
      Hello, <Decrypt
        client:only
        data={viewer.displayNameMK}
        iv={viewer.displayNameMKIV}
        decrypt={{ with: "masterKey" }}
      />!
    </h2>

    <div class="container">
      <h3>Correspondents</h3>

      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Service ?</th>
            <th>Initiateur ?</th>
          </tr>
        </thead>
        <tbody>
          {
            data.correspondents.map((corr) => (
              <tr>
                <td>
                  <Decrypt
                    client:only
                    data={corr.userDisplayNameCK}
                    iv={corr.userDisplayNameCKIV}
                    decrypt={{
                      with: "jwkMK",
                      content: corr.correspondenceKeyMK,
                      iv: corr.correspondenceKeyMKIV,
                    }}
                  />
                </td>
                <td>{corr.isService ? "Yes" : "No"}</td>
                <td>{corr.isInitiator ? "Yes" : "No"}</td>
              </tr>
            ))
          }
        </tbody>
      </table>

      <h3>On-hold correspondence requests</h3>

      <PendingFilledCorrespondenceRequests
        client:only
        encryptedRequests={data.pendingFilledCorrespondenceRequests}
      />

      <h3>Fully-filled correspondence requests</h3>

      <PendingFullyFilledCorrespondenceRequests
        client:only
        encryptedRequests={data.pendingFullyFilledCorrespondenceRequests}
      />

      <br />

      <div class="container">
        <CorrespondenceCodeGenerator client:only />
      </div>

      <div class="container">
        <CorrespondenceCodeInput
          displayNameMK={viewer.displayNameMK}
          displayNameMKIV={viewer.displayNameMKIV}
          client:only
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  .container {
    border: 1px solid black;
    padding: 1rem;
  }
</style>
